# Dependencias de Node.js
/node_modules/
/package-lock.json

# Dependencias temporales
/tmp/
/dist/
/out/
/plugins/

# Compilación de Cordova
/www/
.sourcemaps

# Archivos de configuración de IDEs
.idea/
.vscode/
.angular/
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Otros archivos generados
/www/
