<div class="add-task">
  <ion-item>
    <ion-input
      [label]="config.TEXTS.TASK_TITLE"
      [placeholder]="config.TEXTS.TASK_TITLE_PLACEHOLDER"
      [(ngModel)]="newTaskTitle"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      [label]="config.TEXTS.CATEGORY_ID"
      [placeholder]="config.TEXTS.CATEGORY_ID_PLACEHOLDER"
      [(ngModel)]="newTaskCategoryId"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>{{ config.TEXTS.DATE_LABEL }}</ion-label>
    <ion-datetime-button datetime="datePicker" [ngClass]="{ 'empty-date': !newTaskDate }"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datePicker"
          presentation="date"
          [(ngModel)]="newTaskDate"
          placeholder="Seleccionar fecha"
        ></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-button *ngIf="newTaskDate" fill="clear" (click)="clearDate()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-label>{{ config.TEXTS.SELECTED_DATE_LABEL }}</ion-label>
    <span *ngIf="newTaskDate" class="date-text">{{ newTaskDate | date: 'mediumDate' }}</span>
    <span *ngIf="!newTaskDate" class="date-text">{{ config.TEXTS.NO_DATE_SELECTED }}</span>
  </ion-item>

  <!-- Botón de guardar deshabilitado si el título está vacío -->
  <ion-button expand="block" color="success" (click)="onAddTask()">
    {{ config.BUTTONS.ADD_TASK.TEXT }}
  </ion-button>
</div>